$base-bg-color: #fff !default;
$base-font-size: 16px !default;
$base-font-family: Lato, 'Noto Sans JP', Verdana, Roboto, 'Droid Sans', '游ゴシック', YuGothic, 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, fantasy, sans-serif !default;
$base-font-color: #222 !default;
$base-line-height: $base-font-size * 2 !default;
