@function vertical-rhythm-num($line: 1) {
    $value: strip-units($base-line-height) / strip-units($line);

    @if 'rem' == $base-unit {
        $value: rem($value);
    } @else if 'em' == $base-unit {
        $value: em($value);
    } @else {
        $value: #{$value}px;
    }

    @return $value;
}