@import "theme/visualive";

html.wf-active,
.wf-active .container {
    /*height: auto;*/
    /*overflow: auto;*/
}

.loader {
    @include font-size(10);
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.loader_body,
.loader_body:before,
.loader_body:after {
    border-radius: 50%;
}

.loader_body:before,
.loader_body:after {
    position: absolute;
    content: '';
}

.loader_body:before {
    -webkit-animation: loader 2s infinite ease 1.5s;
    animation: loader 2s infinite ease 1.5s;
    background: #ffffff;
    border-radius: 10.2em 0 0 10.2em;
    height: 10.2em;
    left: -0.1em;
    top: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    width: 5.2em;
}

.loader_body {
    box-shadow: inset 0 0 0 1em;
    color: #222222;
    margin: 0 auto;
    height: 10em;
    position: relative;
    text-indent: -99999em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 10em;
}

.loader_body:after {
    -webkit-animation: loader 2s infinite ease;
    animation: loader 2s infinite ease;
    background: #ffffff;
    border-radius: 0 10.2em 10.2em 0;
    height: 10.2em;
    left: 5.1em;
    top: -0.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    width: 5.2em;
}

.wf-active .loader {
    display: none;
    opacity: 0;
}

.container {
    /*display: none;*/
    /*opacity: 0;*/
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.wf-active .container {
    /*display: block;*/
    /*opacity: 1;*/
}

.canopy {
    background: url(../img/canopy.jpg) no-repeat center/cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    transition: background 0.3s;
    width: 100%;
}

.canopy-nav {
    background-color: rgba(255, 255, 255, .5);
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.canopy-inner {
    background-color: rgba(0, 0, 0, .15);
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.canopy-content {
    color: #fff;
    margin: 0;
    padding: 0 8%;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
    top: 45%;
    -webkit-transform: translate(0, -45%);
    transform: translate(0, -45%)
}

.canopy-content .canopy-title,
.canopy-content .canopy-excerpt {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.canopy-content .canopy-title * {
    @include font-size(24);
    letter-spacing: 4px;
    padding: 0;
    text-transform: uppercase;
}

.canopy-content .canopy-excerpt {
    margin: 0;
    padding: #{vertical-rhythm-num() /2} 0 0;
    position: relative;
}

.canopy-content .canopy-excerpt * {
    @include font-size(14);
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.canopy-content .canopy-excerpt:before {
    background-color: #e4e4e4;
    content: ' ';
    @include font-size();
    height: 1px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    top: 0;
    width: 120px;
}

.panel {
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

.panel-inner {
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: vertical-rhythm-num();
    position: relative;
    top: 0;
    width: 100%;
}

.panel .panel-title {
    letter-spacing: 4px;
    text-transform: uppercase;
}

.featured--simple {
    background-image: url(../img/simple.jpg);
}

.featured--simple .panel-inner {
    background-color: rgba(50, 97, 171, .8);
}

.featured--speed {
    background-image: url(../img/speed.jpg);
}

.featured--speed .panel-inner {
    background-color: rgba(191, 30, 86, .8);
}

.featured--secure {
    background-image: url(../img/secure.jpg);
}

.featured--secure .panel-inner {
    background-color: rgba(0, 159, 140, .8);
}


/* 620px */

@media screen and (min-width: 38.75em) {
    .canopy-content .canopy-title * {
        @include font-size(36);
    }
    .canopy-content .canopy-excerpt * {
        @include font-size(16);
    }
}


/* 740px */
@media screen and (min-width: 46.25em) {}


/* 955px */

@media screen and (min-width: 59.6875em) {
    .panel-inner {
        padding-left: vertical-rhythm-num() * 2;
        padding-right: vertical-rhythm-num() * 2;
    }
}


/* 1240px */

@media screen and (min-width: 77.5em) {}


/* 1403px */

@media screen and (min-width: 87.6875em) {}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
